/*-----------------------------------------------------*/
h1{
    font-family: 'Teko', sans-serif;
    text-shadow: 8px 5px 4px gray;
    text-align: center;
    margin-bottom: 0;
    padding: 8px 0 0;
}
h2 {
    font-family: 'Teko', sans-serif;
    text-shadow: 8px 5px 4px gray;
} 
p{
    font-family: 'Raleway', sans-serif;
}
img{
    border-radius: 16px;
}
body{
    background: linear-gradient(to right, #182442, #62759e);
}
footer{
    text-align: center;
}

/*-----------------------------------------------------*/
@font-face {
    font-family: teko;
    src: url(Teko/Teko-VariableFont_wght.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(Raleway/Raleway-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: Error;
    src: url(ErrorFont/FONTE___.TTF);
}
/*----------------------------------------------------*/

#font1{
    font-family: 'Roboto', sans-serif;

}
#font2{
    margin-bottom: 10px;

}

/*-----------------------------------------------------*/

.container {
  position: relative;
}

.container .image {
  display: block;
  width: 100%;
}

.container .text {
  position: absolute;
  z-index: 1;
}
  .div2{
    background-color: #abb2ca;
    width: 80%;
    border-radius: 10px;
    margin: auto;
    margin-top: 10%;
    padding: 1px 10%;
}  